python-dateutil
aiocache
redis
httpx
pytest
fastapi
# contextlib
python-dotenv==1.0.0
Faker
locust
aio-pika==9.4.1
fastapi==0.99.1
firebase-admin
motor==2.5.1
# pymongo==3.12.3
passlib==1.7.4
pydantic==1.10.11
pymongo==3.12.1
requests==2.31.0
six==1.16.0
uvicorn==0.22.0
fastapi_jwt_auth
fastapi-jwt-auth[asymmetric]
email-validator==1.1.3
slowapi
aiohttp